* {
  margin: 0;
  padding: 0;
}

/*mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  body {
    background-color: #fefbe9;
  }
  body header {
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
  }
  body header .logo {
    width: 70px;
    height: 50px;
  }
  body header nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  body header nav .header_nav_menu {
    text-decoration: none;
    color: #5ce1e6;
    font-family: "Anton", sans-serif;
  }
  body header li {
    list-style-type: none;
  }
  body header li a {
    color: #5ce1e6;
  }
  body header li a:hover {
    color: #000;
  }
  body header .header_ul_li_menu {
    padding: 0;
    margin: 0;
  }
  h1 {
    text-shadow: blanchedalmond 1px 1px 1px;
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 15px;
  }
  p {
    text-align: center;
    font-size: 10px;
  }
  .menu_header {
    list-style-type: none;
    box-sizing: border-box;
  }
}
/*Desktop*/
@media (min-width: 768px) {
  body {
    display: grid;
    background-color: #fefbe9;
  }
  header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  nav {
    display: flex;
    justify-content: right;
  }
  .logo {
    width: 75px;
    height: 50px;
    margin: 0 auto;
  }
  .header_div_menu {
    text-align: center;
  }
  .header_ul_li_menu {
    letter-spacing: 3px;
    display: inline-block;
    color: #5ce1e6;
    padding: 10px 10px 10px;
  }
  .header_ul_li_menu:hover a {
    color: #000;
  }
  .header_nav_menu {
    text-decoration: none;
    color: #5ce1e6;
    display: inline-block;
    font-size: larger;
    font-family: "Anton", sans-serif;
  }
  h1 {
    text-shadow: blanchedalmond 2px 2px 3px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #000;
    border-radius: 6px 6px 6px 6px;
    box-shadow: #0099ff 5px 5px 5px;
    background: -moz-linear-gradient(top, #0E8AF5, #82C7F5);
    background: -webkit-linear-gradient(top, #0E8AF5, #82C7F5);
  }
  .title_nav {
    padding-left: 40px;
  }
}
/*#8707ff - violeta #5ce1e6 - turquesa*/
/*mobile*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .main_section_article_divImage {
    display: flex;
    justify-content: center;
  }
  p {
    font-family: "Anton", sans-serif;
  }
  .main_section_article_div_img {
    width: 120px;
    height: 120px;
  }
  h2 {
    font-size: 12px;
    text-align: center;
  }
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .main_section_article_img {
    display: inline-block;
    width: 300px;
    height: 300px;
  }
  .image_size_main {
    width: 150px;
    height: 150px;
    padding: 15px;
  }
}
/*desktop*/
@media (min-width: 768px) {
  .form_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  .div_messaje {
    padding: 20px;
  }
  .div_email {
    padding: 20px;
  }
  .main_section_article_div {
    display: flex;
    justify-content: center;
  }
  .main_section_article_divParrafo {
    width: 300px;
    height: 300px;
  }
  p {
    font-family: "Anton", sans-serif;
    padding-top: 50px;
    font-size: large;
  }
  .main_section_article_divImage {
    text-align: left;
  }
  .main_section_article_div_img {
    width: 450px;
    height: 300px;
  }
  .image_size_main {
    width: 300px;
    height: 300px;
    border-radius: 3px 3px 3px 3px;
    padding: 20px;
  }
  .main_section_div {
    display: flex;
    justify-content: space-evenly;
  }
  .main_section_article_img {
    display: inline-block;
    width: 900px;
    height: 900px;
  }
}
/*mobile*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .section_sobre {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    background-color: #0274be;
    color: #fff;
  }
  .card {
    align-items: center;
    width: 120px;
    height: 190px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  }
  .sobre_size-h2 {
    font-size: 20px;
    padding: 20px;
    font-family: "Anton", sans-serif;
  }
  .main_section_div_sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p_text {
    color: #000;
    font-size: 10px;
    font-family: "Anton", sans-serif;
    padding: 15px;
  }
}
/*Desktop*/
@media (min-width: 768px) {
  .section_sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    background-color: #0274be;
    color: #fff;
  }
  .main_section_div_sobre {
    display: flex;
    align-items: center;
    margin: 50px auto;
  }
  .card {
    margin-left: 200px;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  }
  .sobre_size-h2 {
    text-shadow: blanchedalmond 2px 2px 3px;
    font-size: 50px;
    padding: 20px;
    font-family: "Anton", sans-serif;
  }
  .p_text {
    color: #000;
    font-size: 15px;
    font-family: "Anton", sans-serif;
    padding: 15px;
  }
}
/*mobile*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  section .section-form-input {
    padding-left: 15px;
    padding-right: 15px;
  }
  section button {
    --color: variables.$color_btn_footer;
    font-family: inherit;
    display: inline-block;
    width: 100px;
    height: 35px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 10px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  section button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  section button:hover {
    color: #fff;
  }
  section button:hover:before {
    top: -30px;
    left: -30px;
  }
  section button:active:before {
    background: #3a0ca3;
    transition: background 1.5s;
  }
}
/*desktop*/
@media (min-width: 768px) {
  section h2 {
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  section .section-input {
    width: 300px;
  }
  section .section_button {
    --color: variables.$color_btn_footer;
    font-family: inherit;
    display: inline-block;
    width: 125px;
    height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  section .section_button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  section .section_button:hover {
    color: #fff;
  }
  section .section_button:hover:before {
    top: -30px;
    left: -30px;
  }
  section .section_button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
}
/*mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  article .main_menu_select {
    padding-bottom: 15px;
  }
  article .div-buy {
    padding-left: 100px;
  }
  article button {
    --color: variables.$color_btn_footer;
    font-family: inherit;
    display: inline-block;
    width: 125px;
    height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  article button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  article button:hover {
    color: #fff;
  }
  article button:hover:before {
    top: -30px;
    left: -30px;
  }
  article button:active:before {
    background: #3a0ca3;
    transition: background 1.5s;
  }
}
@media (min-width: 768px) {
  article {
    /* .article-div-select{
    	width: 170px;
    } */
  }
  article button {
    --color: variables.$color_btn_footer;
    font-family: inherit;
    display: inline-block;
    width: 125px;
    height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  article button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  article button:hover {
    color: #fff;
  }
  article button:hover:before {
    top: -30px;
    left: -30px;
  }
  article button:active:before {
    background: #3a0ca3;
    transition: background 1.5s;
  }
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_menu_select {
    padding-bottom: 20px;
  }
  .div-buy {
    padding-left: 100px;
  }
  .motion-img {
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
  @keyframes myAnim {
    0%, 100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      transform: translateX(15px) rotate(6deg);
    }
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }
}
/*mobile*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  footer {
    background-color: #a9a9a9;
    padding-bottom: 35px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer h3 {
    display: none;
  }
  footer img {
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 5px;
  }
  footer ul {
    list-style-type: none;
    display: flex;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer input {
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 12px #ffffff, -6px -6px 12px #c5c5c5;
    font-size: small;
    font-weight: bold;
    max-width: 100px;
    max-height: 20px;
  }
  footer input:focus {
    outline-color: #fff;
    place-content: "Escriba su e-mail!";
  }
  h4 {
    font-size: 10px;
    text-align: center;
  }
  /* From uiverse.io */
  .footer_button {
    --color: variables.$color_btn_footer;
    font-family: inherit;
    display: inline-block;
    width: 100px;
    height: 23px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  .footer_button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  .footer_button:hover {
    color: #fff;
  }
  .footer_button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  .footer_button:hover:before {
    top: -30px;
    left: -30px;
  }
  .footer_button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
}
/*desktop*/
@media (min-width: 768px) {
  /* my footer*/
  footer {
    background-color: #a9a9a9;
    padding-top: 90px;
  }
  footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer div input {
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 12px #ffffff, -6px -6px 12px #c5c5c5;
    font-size: small;
    font-weight: bold;
    max-width: 120px;
    max-height: 35px;
  }
  footer div input:focus {
    outline-color: #fff;
    place-content: "Enter your message!";
  }
  footer div .footer_button {
    --color: variables.$color_btn_footer;
    font-family: inherit;
    display: inline-block;
    width: 125px;
    height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  footer div .footer_button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  footer div .footer_button:hover {
    color: #fff;
  }
  footer div .footer_button:hover:before {
    top: -30px;
    left: -30px;
  }
  footer div .footer_button:active:before {
    background: #3a0ca3;
    transition: background 1.5s;
  }
  footer div ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  footer div ul li {
    padding: 10px;
    margin-left: 150px;
  }
  footer div img {
    width: 20px;
    height: 20px;
  }
  footer .redes {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-bottom: 0px;
  }
  footer h3 {
    justify-content: center;
    margin-top: 15px;
    padding-left: 100px;
    font-size: 20px;
  }
  footer .newslestter {
    display: flex;
    align-items: baseline;
  }
  footer h4 {
    padding-right: 12px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
