@use './variables';

/* my footer */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */
@media screen and (min-width: 0px) and (max-width: 767px) {
    
footer{
    background-color: #a9a9a9;
    padding-bottom: 35px;
    padding-top: 60px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{        
        display: none;
    }
    img{
        justify-content: center;
        width: 25px;
        height: 25px;
        padding: 5px;
    }
    ul{
        list-style-type: none;
        display: flex;
    }


}

h4{
    font-size: 10px;
    text-align: center;
}
/* From uiverse.io */
.footer_button {
    --color: variables.$color_btn_footer;
    font-family: inherit;
    display: inline-block;
    width: 100px;
    height: 23px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.footer_button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.footer_button:hover {
    color: #fff;
}

.footer_button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.footer_button:hover:before {
    top: -30px;
    left: -30px;
}

.footer_button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}
}
/*desktop*/
@media (min-width: 768px) {
    
    /* my footer*/
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		background-color: variables.$background-color-footer;
		padding-top: 90px;
		ul {
			list-style-type: none;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		img {
			width: 20px;
			height: 20px;
		}
	}
	.redes {
		width: 300px;
		padding-left: 100px;
		padding-bottom: 0px;
	}
	h3 {
		justify-content: center;
		margin-top: 15px;
		padding-left: 100px;
		font-size: 20px;
	}
	.newslestter {
		display: flex;
		align-items: baseline;
	}
	h4 {
		padding-right: 12px;
		font-size: 20px;
	}
	input {
		border: none;
		border-radius: 15px;
		padding: 10px;
		background-color: variables.$color_white;
		box-shadow: 5px 5px 12px #ffffff, -6px -6px 12px #c5c5c5;
		font-size: small;
		font-weight: bold;
		max-width: 120px;
		max-height: 35px;
		&:focus {
			outline-color: variables.$color_white;
			place-content: "Enter your message!";
		}
	}
	.footer_button {
		--color: variables.$color_btn_footer;
		font-family: inherit;
		display: inline-block;
		width: 125px;
		height: 40px;
		margin: 20px;
		position: relative;
		overflow: hidden;
		border: 2px solid var(--color);
		transition: color .5s;
		z-index: 1;
		font-size: 12px;
		border-radius: 6px;
		font-weight: 500;
		color: var(--color);
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			background: var(--color);
			height: 150px;
			width: 200px;
			border-radius: 50%;
			top: 100%;
			left: 100%;
			transition: all .7s;
		}
		&:hover {
			color: variables.$color_white;
			&:before {
				top: -30px;
				left: -30px;
			}
		}
		&:active {
			&:before {
				background: #3a0ca3;
				transition: background 0s;
			}
		}
	}
}