@use './variables';
/*mobile*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  
    .main_section_article_divImage{
        display: flex;
        justify-content: center;
    }
    p{
        font-family: variables.$font-anton;
    }
    .main_section_article_div_img{
        width: 120px;
        height: 120px;
		
    }
    h2{
        font-size: 12px;
        text-align: center;
    }
    .products{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        
    }
    .main_section_article_img{
        display: inline-block;
        width: 300px;
        height: 300px;
    }
    .image_size_main{
        width: 150px;
        height: 150px;
		border-radius: 10px 10px 10px 10px;
    }
    
}
/*desktop*/
@media (min-width: 768px) {
   
	
	.form_contact {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 20px;
	}
	.div_messaje {
		padding: 20px;
	}
	.div_email {
		padding: 20px;
	}
	.main_section_article_div {
		display: flex;
		justify-content: center;
	}
	.main_section_article_divParrafo {
		width: 300px;
		height: 300px;
	}
	p {
		font-family: variables.$font-anton;
		padding-top: 50px;
		font-size: large;
	}
	
	.main_section_article_divImage {
		text-align: left;
	}
	.main_section_article_div_img {
		width: 450px;
		height: 300px;
		border: solid #999 3px;
	}
	.image_size_main {
		width: 300px;
		height: 300px;
		border-radius: 10px 10px 10px 10px;
		
	}
	.main_section_div {
		display: flex;
		justify-content: space-evenly;

	}
	
	.main_section_article_img {
		display: inline-block;
		width: 900px;
		height: 900px;
		
	}
	
	    
}