$body-color: #fefbe9; 
$color_1: #5ce1e6;
$color_2: #000;
$color_white: #fff; //color_3
$color_4: var(--color);
$color_btn_footer: #560bad;

//$color_5: #fff;
$font-family_1: 'Anton', sans-serif;
$font-family_2: 'Pacifico', cursive;
$font-family_3: inherit;
$background-color_1: #fefbe9;
$background-color_2: #F8F9FA;
$background-color_3: #0274be;
$background-color_4: #a9a9a9;
$background-color_5: #e8e8e8;
$outline-color_1: white;


/* $color_3: #5ce1e6; */
/* $color_4: #ffffff;
$color_5: var(--color);
$color_6: #fff; */



