$body-color: #fefbe9; 
$color-menu-nav: #5ce1e6;
$color_black: #000;
$color_white: #fff;
$background-color-footer: #a9a9a9;
$color_btn_footer: #560bad;
$font-anton: 'Anton', sans-serif;
$font-pacifico: 'Pacifico', cursive;






